body{

    font-family: 'Montserrat', sans-serif;
}
h1 {  
    font-family: 'Archivo Black', sans-serif !important; 
    line-height: 70px !important;
    font-size: 4rem !important;
}
                                   /* title */

#title{
    background-color: #d72323;
    color: white;
}
.container-fluid{
    padding: 3% 10% 10% !important ;
}
                                /* Navigation bar */

.navbar{
    padding: 0 0 3rem !important;
}
.navbar-brand {
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 2rem !important ;
    font-weight: bold !important;
}
.collapse {
    padding-inline-end: 7rem !important;
}
.nav-item {
    padding-inline: 1rem !important;
}
.nav-link{

    font-size: 1rem !important;
}
                             /* Download Buttons */

.button-download {

    margin:5% 3% 0 0 !important;    
}
                                   /* Title Image */

  .title-image {

    width: 50%;
    transform: rotate(25deg);
    position: absolute;
    right: 40%; 
  }
                             /* Section 2 features */
#features{
    padding: 10% 15% !important;
    background-color: white;
    position: relative;   
}
.feature-icons{
    width: 20%;
    margin-bottom: 7% !important;
    transition: transform .2s !important;
}
.feature-icons:hover {
    transform: scale(1.5);
}
.feature-box {
    text-align: center;
    padding:0 4% !important;
}
.head {
    font-weight: bold;
    font-family: 'Archivo Black', sans-serif;
    font-size: 20px;
}
                             /* Testimonials */

#testimonials {

    text-align: center;
    background-color: #d72323 ;
    color: lavender;
}
.testimonial-image {

    width: 15% !important;
    border-radius: 100% !important;
    margin-top: 20px;   
} 
                           /* Press  */
#press {

    background-color: #d72323 ;
    text-align: center;
    padding-bottom: 5%;
}
.press-icon {

    width: 17% !important;
    padding-right: 4%;
}
.carousel-item {

    padding: 5% 5%;
}

        /* pricing */

#pricing {  
    font-family: 'Archivo Black', sans-serif;
    padding: 100px;
    
}
.card-head {
    
    background-color: #d92027 ;
    color: white;
}
.card-body {

    background-color:  #ce3439 ;
    color: white;
}
.pricing-coloum {
      padding: 4% 3% !important;
    
}
                    /* cta */    
#cta {

   background-color: #d72323; 
   padding: 10% 15%;
   text-align: center;
   font-family: 'Archivo Black', sans-serif;
   color: aliceblue;
}
.button-download-cta {

   margin-top: 20px;
   margin-left: 20px;
}
            /* footer */

#footer {

    background-color: #fff;
    padding: 3% 2%;
    text-align: center;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.footer-icons {

    padding-top: 2rem;
    letter-spacing: 5px;
}






@media (max-width: 1080px) {

    .title-image {

        position: static;
        transform: rotate(0);
        padding-top: 30px;
        
    }

    #title {

        text-align: center;
    }
}


                                        /* Designed by @sanathmurali */